<!DOCTYPE html>
<html>
<head>
	<title>Movies</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<script src="js/contextLoader.min.js"></script>
	<link href="css/contextLoader.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/css/all.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<script src="js/menu.js"></script>
	<script src="js/index.js"></script>
	<script>
		window.console = window.console || function(t) {};
		if (document.location.search.match(/type=embed/gi)) { window.parent.postMessage("resize", "*"); }
	</script>

</head>
<body>
	<div class="wrapper">
		<%- include('menu.ejs') %>
		<script src="js/search.min.js"></script>
		<div class="main-content">
			<h4><%= catagory %></h4><br><hr>
			<br><br><br>
			<!-- <div class="s"><p>MONIR</p></div> -->
		<!-- 	<style>
				#s{
					height: 100px;
					width: 200px;
					background-color: red;
				}
			</style> -->
			<!-- <script>
				contextLoader.addLoader('.s');
				$('.s').html('<p>MONIR</p>');
			</script> -->
			<div class="navigator">
				
			</div>
			<br><br><br>
			<div class="content">
				<% for(var i=0;i< result.length;i++) { %>
				<div class="card">
					<div class="card-content">
						<a href="watch?v=<%= result[i].embeded %>">
							<img src="https://img.putlocker.how/<%= result[i].img %>" width="300px" height="200px">
						</a>
						<div class="properties">
							<h3 class="title"><a href="watch?v=<%= result[i].embeded %>"><%= result[i].title %></a></h3>
							<p style="margin: auto;">Rating: <%=result[i].rating %> , Year: <%= result[i].year %> </p>
						</div>
					</div>
				</div>
				<%} %>
			</div>
			<br><br><br>
			<div class="navigator"></div>
			<br><br><br>
			<script type="text/javascript" src="/Pagination/jquery.simplePagination.js"></script>
			<link type="text/css" rel="stylesheet" href="/Pagination/simplePagination.css"/>
			<script>
				$(function() {
					var items=<%= count[0]['COUNT(*)'] %>;
					if(items<=16){}
					else
					$('.navigator').pagination({
						items: <%= count[0]['COUNT(*)'] %>,
						prevText:'<<',
						nextText:'>>',
						currentPage:<%= page %>,
						itemsOnPage: 16,
						cssStyle: 'light-theme',
						hrefTextPrefix:window.location.pathname+'?page='
					});
				});
			</script>
			<style>
				.navigator{
					margin: auto;
					width: 500px;
				}
			</style>
		</div>
	</div>
</body>
</html>